@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");
#app {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
}

.light {
    color: black;
    background-color: #dbdbdb;
}

.dark {
    color: white;
    background-color: #3a3a3a;
}

.light.navbar {
    color: black;
    background-color: #cddc39;
}

.dark.navbar {
    color: white !important;
    background-color: #827717;
}

.register-container {
    border-radius: 2px;
}

.light .register-container {
    background-color: #CFD8DC;
}

.dark .register-container {
    background-color: #546E7A;
}

.v-tabs__item {
    cursor: pointer;
}

.light .v-messages__message {
    color: #a00000;
}

.dark .v-messages__message {
    color: #ff7a7a;
}

.v-messages__message {
    font-weight: bolder;
}